/* GLOBAL VARIABLES */ 

:root {
	--color-01: #292930;
	--color-02: #3EB650;
	--color-03: #FCC133;
	--color-04: #E12B38;
}	

body {
	margin: 25px;
	background-color: rgb(240,240,240);
	font-family: arial, sans-serif;
	font-size: 14px;
}

h1 {
	font-size: 35px;
	font-weight: normal;
	margin-top: 5px;
}
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background-color: var(--color-1);
}

li {
  	float: left;
}

li a {
 	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
	background-color: var(--color-2);
}
/*---------------------------------------------------------------------------------------------*/

.navbar{
	
}


