*{margin: 0; padding: 0; border: 0; }
:root{--primary:#292930;
--secundary:#3eb650;
--success:#fcc133;
--danger:#e12b38;
--warning:#292930;
--light:#292930;
--dark:#111;}
body{font-family: Helvetica, sans-serif;}
.active{color: lime;}
.hidden{display: none;visibility: hidden;}
.disable{background: #ccc;}
.affix{position: fixed;top: 0;left: 0;width: 100%;z-index: 9999;display: none;}
.btn{border: none;color: white;padding: 15px 32px;text-align: center;text-decoration: none;display: inline-block;font-size: 16px;}
.navbar{list-style-type: none;margin: 0;padding: 0;overflow: hidden;background-color: var(--primary);}
li{float: left;}
li a{display: block;color: white;text-align: center;padding: 14px 16px;text-decoration: none;}
li a:hover{background-color: var(--secundary);}
.bg-sec{background-color: var(--secundary);}
.dim{color: #2B2A29;}
.container{width:600px;box-shadow: 3px 3px 3px 3px grey;margin:10px;background-color: #E0D8D6;}
